<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div id="app">
      <button @click="generateEmailAndTimer">generate email</button>
      <input type="number" v-model="numberOfEmails" />
      <div>{{formattedTime}}</div>
      <ul v-if="emails.length===numberOfEmails">
        <li v-for="email in emails" :key="email">{{ email }}</li>
      </ul>
      <p v-if="emails.length>0 && emails.length<numberOfEmails">loading...</p>
    </div>

    <script src="./js/script.js"></script>
  </body>
</html>
